In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv('dataset.csv')

In [4]:
data
# 年齢,性別(男:0女:1),過去の重病の有無,家族構成(人),孤独感(尺度0～3),運動の頻度(回/週),睡眠時間(h),地域,貯金(万円),今後の介護の必要性

,age,sex,had_sick,family,lonely,excersice,sleep,region,money,result
0,86,0,1,1,2,1,8,東京,1504,1
1,87,0,0,2,1,2,7,千葉,2681,1
2,77,1,0,2,1,2,4,埼玉,2497,1
3,74,0,1,1,2,3,8,東京,1627,0
4,80,0,0,3,2,0,5,埼玉,2120,1
...,...,...,...,...,...,...,...,...,...,...
145,84,0,0,2,1,4,7,千葉,2626,0
146,83,0,1,3,2,0,5,千葉,1287,1
147,97,0,0,1,2,5,8,埼玉,1693,1
148,67,0,0,2,0,0,5,千葉,119,0
149,80,1,0,2,1,2,5,東京,1166,1

df_math = pd.DataFrame(math_score, columns=["math_score"])
df_english = pd.DataFrame(english_score, columns=["english_score"])

df = pd.concat([df_math, df_english], axis=1)

corr = df.corr()
corr

In [5]:
data.dtypes

age           int64
sex           int64
had_sick      int64
family        int64
lonely        int64
excersice     int64
sleep         int64
region       object
money         int64
result        int64
dtype: object

In [7]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=150,test_size=0.3) #8,26

In [9]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train,y_train)
print("精度:"+str(rf.score(X_test,y_test)*100)+"%")
rf.predict(X_test)

精度:80.0%

<ipython-input-9-44ac2f6c23da>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train,y_train)

array([0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1], dtype=int64)

In [10]:
import joblib
joblib.dump(rf, 'model.pkl', compress=True)

['model.pkl']